[display]
#fullscreen=true
#viewport=1280x720
#viewport=720×576
#viewport=800x600
viewport=854x480

[gource]
# don't show the list of file types on the left hand side
key=false
#start-position=0.27

seconds-per-day=0.25
auto-skip-seconds=0.25

hide=filenames,mouse

#background-colour=eeeeee
#path=gource/kappa.full.svn.log.xml
#log-command=svn

# where to find the log
logo=logo.png

# displays date top center as day month year
date-format=%d %B %Y

# highlight all users all the time
highlight-all-users=true

# show all files all the time
#file-idle-time=0

# overview to keep complete structure visible all the time; track to follow active user
camera-mode=overview

