[display]
#fullscreen=true
#viewport=1280x720 big and ok, too big? 
#small but ok
viewport=640x360 
#viewport=720×576 doesn't work
#viewport=800x600 works, but not 16/9
#viewport=854x480 creates weird b/w and skewed effect - don't use

[gource]
# don't show the list of file types on the left hand side
key=false

#stop-at-time=10  -- stop after about 10 seconds, even if log file is longer, good for debugging

# a day is shown in a quarter second (not much, but if you have many days ...)
seconds-per-day=0.25

auto-skip-seconds=0.25

hide=dirnames,filenames,mouse

#background-colour=eeeeee
#path=gource/kappa.full.svn.log.xml
#log-command=svn

# where to find the logo to display, by default in bottom-right corner
logo=logo.png

# displays date top center as day month year
date-format=%d %B %Y

# highlight all users all the time
#highlight-all-users=true

# show all files all the time
#file-idle-time=0

# overview to keep complete structure visible all the time; track to follow active user
camera-mode=track

